#logo {
    display: none !important;
}

.task-login #layout>.content {
    background: url(images/logo-black.svg) center 16vh no-repeat;
    background-size: auto 18vh;
    padding-top: 20vh;
}

.popover-header {
    background: url(images/logo-black.svg) center 1rem no-repeat;
    background-size: auto 2.5rem;
}
