#logo {
    display: none !important;
}

.task-login #layout>.content {
    background: url(images/logo-black.svg) center 18vh no-repeat;
    background-size: auto 22vh;
    padding-top: 22vh;
}

.popover-header {
    background: url(images/logo-black.svg) center 1rem no-repeat;
    background-size: auto 3rem;
}
